a,
a:link,
a:visited,
a:focus,
a:hover,
a:active,
a:any-link {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
.section-name {
  font-size: clamp(var(--min), var(--val), var(--max));
  margin: clamp(var(--margin-min), var(--margin-reg), var(--margin-max)) 0;
}

h1 {
  --min: 2.75rem;
  --val: 7vw;
  --max: 5rem;
  --margin-min: 1rem;
  --margin-reg: 4vw;
  --margin-max: 1.1rem;
}

h2 {
  --min: 2.25rem;
  --val: 6vw;
  --max: 4rem;
  --margin-min: 0.5rem;
  --margin-reg: 4vw;
  --margin-max: 1rem;
}

h3 {
  --min: 2rem;
  --val: 4.5vw;
  --max: 3.25rem;
  --margin-min: 0.6rem;
  --margin-reg: 4vw;
  --margin-max: 0.8rem;
}

h4 {
  --min: 1.75rem;
  --val: 4vw;
  --max: 3rem;
  --margin-min: 0.3rem;
  --margin-reg: 4vw;
  --margin-max: 0.8rem;
}

h5 {
  --min: 1.5rem;
  --val: 3vw;
  --max: 2.75rem;
  --margin-min: 0.2rem;
  --margin-reg: 4vw;
  --margin-max: 0.8rem;
}
h6 {
  --min: 1.25rem;
  --val: 2.5vw;
  --max: 2.5rem;
  --margin-min: 0.1rem;
  --margin-reg: 3vw;
  --margin-max: 0.8rem;
}

span,
p {
  --min: 0.8em;
  --val: 2vw;
  --max: 1.2em;
  --margin-min: 0.1rem;
  --margin-reg: 4vw;
  --margin-max: 0.4rem;
}

.container {
  grid-gap: 0.5em;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 20vh repeat(5, auto) auto;
}

.section-wrapper {
  height: 100vh;
}

.section-name-wrapper {
  grid-area: 2 / 2 / 2 / 8;
}

.section-name {
  --min: 1.3rem;
  --val: 5vw;
  --max: 3.25rem;
  font-weight: 500;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

@media (max-height: 700px) {
  .section-wrapper {
    height: 600px;
  }
}

@media only screen and (min-width: 2000px) {
  .section-name {
    --val: 8vw;
    --max: 8rem;
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 600px) {
  .section-wrapper {
    height: 80vh;
  }
}
