#contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
}

.form-error {
  padding: 0 10%;
}
.form-group input,
.form-group textarea {
  font-size: 1.1em;
  font-family: inherit;
  font-size: inherit;
}

.form-error span {
  color: red;
}

label {
  color: var(--secondary);
}

@media only screen and (max-width: 900px) {
  .form-group {
    padding: 0;
  }
}

@media only screen and (max-width: 600px) {
}
