.tl-item-wrapper {
  width: 15em;
  height: 100%;
  display: flex;
  justify-self: flex-end;
  align-items: center;
  flex-direction: column;
}

.tl-item {
  height: 49%;
  width: 150%;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  /* border: 3px solid green; */
  z-index: 1;
}

.tl-item-wrapper-wide {
  width: calc(15em * 1.5);
}

.tl-item-wide {
  width: 100%;
}

.tl-item-wrapper-one-side-left {
  width: calc(15em * 1.25);
  align-items: flex-end;
}

.tl-item-wrapper-one-side-right {
  width: calc(15em * 1.25);
  align-items: flex-start;
}

.tl-item-one-side {
  width: 125%;
}

.timeline-end {
  width: 100%;
}

.timeline-bottom {
  flex-direction: column-reverse;
}

.tl-branch-wrapper {
  position: relative;
  /* border: 1px solid red; */
  height: 20%;
}

.tl-branch::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 5px solid black;
  transform: translate(-50%);
}

.tl-content-date {
  position: absolute;
  left: 50%;
  padding-left: 2%;
}

.tl-content-date-top {
  bottom: 0%;
}

.tl-item-date {
  color: var(--senary);
  --min: 1rem;
  --val: 2.5vw;
  --max: 1.5rem;
}

.tl-content-wrapper {
  margin: 1%;
  padding: 1%;
  height: auto;
  width: auto;
  border-radius: 15px;
  border: 3px solid var(--secondary);
}

/* .tl-content-wrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */

/* Time line content styling*/
.tl-content-details {
  display: flex;
  justify-content: space-between;
}

.tl-content-title {
  color: var(--quinary);
  font-weight: 700;
  --min: 0.9rem;
  --val: 2.5vw;
  --max: 1.8rem;
}

.tl-content-location {
  color: var(--primary);
  font-weight: 800;
  --min: 0.8rem;
  --val: 2vw;
  --max: 1.2rem;
}

.tl-content-description {
  --min: 0.6em;
  --val: 2vw;
  --max: 1em;
  color: var(--tertiary);
}

.tl-content-description-list li {
  float: left;
}

.tl-content-description-list {
  margin: 0;
}

.tl-content-description-list span {
  --min: 0.8rem;
  --val: 2vw;
  --max: 0.9rem;
}

@media (max-height: 700px) {
}

@media (max-height: 1100px) {
  .tl-item-date {
    --min: 1rem;
    --val: 2.5vh;
    --max: 1.5rem;
  }

  .tl-content-title,
  .tl-content-position,
  .tl-content-location {
    --min: 0.6rem;
    --val: 3vh;
    --max: 1rem;
  }

  .tl-content-description {
    --min: 0.6em;
    --val: 2vh;
    --max: 1em;
  }

  .tl-content-description-list span {
    --min: 0.5rem;
    --val: 2vh;
    --max: 0.6rem;
    margin: 0;
  }
}
