.history-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 5vh repeat(6, auto);
  height: 80%;
}

.child {
  width: 30em;
  height: 100%;
  background-color: aqua;
}

.button-wrapper {
  display: flex;
}

.right-history {
  grid-area: 4/ 8/ 5 /9;
  justify-self: start;
}

.left-history {
  grid-area: 4/ 1/ 5 /2;
  justify-self: end;
}

.history-scroll-wrapper {
  grid-area: 3/ 2/ 6 /8;
  height: 40em;
}

.test-scroll-wrapper {
  grid-area: 4/ 2/ 5 /8;
}
