.history-container {
  display: grid;
  grid-template-columns: 8vw repeat(6, 1fr) 8vw;
  grid-template-rows: repeat(5, 1fr);
  height: 80%;
}

.history-title-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 5vh auto;
  height: 80%;
}

.child {
  width: 30em;
  height: 100%;
  background-color: aqua;
}

.button-wrapper {
  display: flex;
  align-self: center;
}

.right-history {
  grid-area: 3 / 8 / 4 / 9;
  justify-self: start;
}

.left-history {
  grid-area: 3 / 1 / 4 / 2;
  justify-self: end;
}

.history-scroll-wrapper {
  grid-area: 1 / 2 / 6 / 8;
  height: 50em;
}
