.projects-container {
  display: grid;
  grid-template-columns: 15vw repeat(6, 1fr) 15vw;
  grid-template-rows: 10vh repeat(5, auto) auto;
  min-height: 100vh;
}

.projects-list-wrapper {
  grid-area: 3 / 2 / 4 / 8;
}

.projects-list-show-more {
  grid-area: 4 / 3 / 5 / 7;
  justify-self: center;
}

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
  .projects-list-wrapper {
    grid-area: 3 / 2 / 4 / 8;
  }

  .projects-container {
    grid-template-columns: 7vw repeat(6, 1fr) 7vw;
  }
}

@media only screen and (max-width: 600px) {
}
