.projects-container {
  display: grid;
  grid-template-columns: 15vw 5vw repeat(4, 1fr) 5vw 15vw;
  grid-template-rows: 1vh repeat(5, auto) auto;
  min-height: 100vh;
}

.projects-list-wrapper {
  grid-area: 3 / 3 / 4 / 7;
}

.projects-list-show-more {
  grid-area: 4 / 3 / 5 / 7;
  justify-self: center;
}

.projects-list-show-details {
  display: none;
}

.project-list-divider {
  margin: 3%;
  border-bottom: 5px solid var(--tertiary);
}

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1200px) {
  .projects-container {
    grid-template-columns: 15vw 0 repeat(4, 1fr) 0 15vw;
  }
}

@media only screen and (max-width: 900px) {
  .projects-list-wrapper {
    grid-area: 3 / 2 / 4 / 8;
  }

  .projects-list-show-details {
    grid-area: 6 / 1 / 7 / 3;
    place-self: center;
    display: block;
  }

  .projects-container {
    grid-template-columns: 7vw repeat(6, 1fr) 7vw;
  }

  .project-list-divider {
    border-width: 2px;
  }
}

@media only screen and (max-width: 600px) {
}
