.projects-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 5vh repeat(5, auto) auto;
    height: 80%;
  }
  
 .project-item-description{
   font-size: 1em;
 }