.contact-section {
  min-height: 100vh;
}

.contact-info-wrapper {
  grid-area: 3 / 2 / 4 / 8;
}

.contact-form-wrapper {
  grid-area: 4 / 2 / 5 / 8;
}

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 600px) {
}
